{%extends 'theme.html'%}

{%block main%}
    <div class="container">
        <div class="row m-5" >
            <div class="col-lg-16 mx=auto">
                <div class ="border shadow">
                    <h1 class="m-5"> Create an account</h1>
                    {%if error%}
                    <div>
                        <div class="alert alert-warning alert-dismissible fade show m-2" role="alert">
                            <strong> {{error}} </strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        error message: {{error}}
                    </div>
                    {%elif success%}
                    <div>
                        <div class="alert alert-success alert-dismissible fade show m-2" role="alert">
                            <strong> {{success}} </strong> 
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                    </div      
                    {%endif%}
                    <form class="m-5" method ='POST' action="signup">
                        {%csrf_token%}
                        
                        <div class ="form-group">
                            <Label> First Name</Label>
                            <input type="text" name="fn"
                            class="form-control"
                            value="{{value.fn}}">
                            </div>

                            <div class ="form-group">
                                <Label> Last Name</Label>
                                <input type="text" name="ln"
                                class="form-control"
                                value="{{value.ln}}">
                            </div>

                            <div class ="form-group">
                                <Label> Email Address</Label>
                                <input type="email" name="email"
                                class="form-control"
                                value = "{{value.email}}">
                            </div>
                            
                            <div class ="form-group">
                                <Label> Mobile Number(10-digit)</Label>
                                <input type="Number" name="Mobile"
                                class="form-control"
                                value="{{value.Number}}">
                            </div>
                            
                            <div class ="form-group">
                                <Label> Password</Label>
                                <input type="Password" name="Password"
                                class="form-control"
                                value="{{value.password}}">>
                            </div>
                            
                            <div class="form-group">
                                <input type="submit" value="signup"
                                class="btn btn-outline-dark mt-3">
                                
                            </div>
                        </div>
                    </form>
                        
                    </div>
        </div>
    </div>
    
{%endblock%}